domain {
    stroke-width:;
    fill: none;
    stroke: #888;
    shape-rendering: crispEdges;
}
.x .tick line {
    opacity: 0  ;
}
.tick text {
    font-size: 14px;
}
.grid-line {
    fill: none;
    stroke: #888;
    opacity: .4;
    shape-rendering: crispEdges;
}
.bar {
    fill: #3398DB;
}
.tooltip{
    font-size: 15px;
    width: auto;
    padding: 10px;
    height: auto;
    position: absolute;
    text-align: center;
    background-color: #000000;
    opacity: .6;
    border-radius:5px;
    color: #ffffff;
    display: none;
}